#home {
}

header {
  min-height: 5vh;
  color: white;
  background: lightslategray;
  margin-bottom: 1em;
}

header > a, h5 {
  padding-right: 0.7em;
}

section {
  min-height: 88vh;
}

footer {
  min-height: 5vh;
}

.category {
  margin-bottom: 40px;
}

.border-between > [class*='col-']:before {
  background: #e3e3e3;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 50px;
}

.border-between > [class*='col-']:first-child:before {
  display: none;
}
