<div id="home" class="container-fluid">
  <header class="row d-flex justify-content-between p-2">
    BBQ Maker V.2
    <a *ngIf="!username" href="https://slack.com/oauth/authorize?scope=identity.basic&client_id={{ slackService.clientId }}&redirect_uri={{ slackService.redirectUri }}"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
    <h5 *ngIf="username">
      {{ username }}
    </h5>
  </header>
  <section class="row border-between">
    <bbq-product-category [products]="meats" category="Viandes" class="col-md-4 col-sm-6 category"></bbq-product-category>
    <bbq-product-category [products]="vegetables" category="Légumes" class="col-md-4 col-sm-6 category"></bbq-product-category>
    <bbq-product-category [products]="drinks" category="Boissons" class="col-md-4 col-sm-6 category"></bbq-product-category>
    <bbq-product-category [products]="snacks" category="Snacks" class="col-md-4 col-sm-6 category"></bbq-product-category>
    <bbq-product-category [products]="sauces" category="Sauces" class="col-md-4 col-sm-6 category"></bbq-product-category>
    <bbq-product-category [products]="utils" category="Outils" class="col-md-4 col-sm-6 category"></bbq-product-category>
  </section>
  <footer class="row">
    <p>Maded by the MIC trainees</p>
  </footer>
</div>
