<form *ngIf="product">
  <div *ngIf="!withQuantity">
    <div class="form-check col-md-12">
      <input *ngIf="canAddSupply && isSupplyInitialized || !canAddSupply" type="checkbox" class="form-check-input"
             [ngModel]="isSupplied" [disabled]="!canAddSupply"
             id="{{ 'isSuppliedWithoutId-' + product.Id }}" name="isSuppliedWithoutQuantity" (ngModelChange)="onCheckboxClicked($event)">
      <i *ngIf="canAddSupply && !isSupplyInitialized" class="fa fa-spinner rotate"></i>
      <label class="form-check-label" for="{{ 'isSuppliedWithoutId-' + product.Id }}">{{ product.Name + '(' + slackIds.length + ')' }}</label>
    </div>
  </div>
  <div *ngIf=" withQuantity" class="form-row">
    <div class="col-md-5">
      <label>{{ totalQuantity + '/' + product.Quantity + ' ' + product.Unit }} {{ product.Name + '(' + slackIds.length + ')' }}</label>
    </div>
    <div *ngIf="canAddSupply && !isSupplyInitialized" class="input-group col-md-7">
      <i class="fa fa-spinner rotate"></i>
    </div>

    <div *ngIf="canAddSupply && isSupplyInitialized || !canAddSupply" class="input-group col-md-4" >
      <input type="number" class="form-control quantity" placeholder="100" [readonly]="!canAddSupply"
             [(ngModel)]="currentQuantity" (blur)="onBlurQuantity()" name="currentQuantity">
      <span class="input-group-addon unit" id="suffix">{{ product.Unit }}</span>
    </div>

    <div *ngIf="canAddSupply && isSupplyInitialized || !canAddSupply" class="form-check col-md-3">
      <input type="checkbox" class="form-check-input isSupplied" [disabled]="!canAddSupply"
             [ngModel]="isSupplied" id="{{ 'isSupplied-' + product.Id }}" name="isSupplied" (ngModelChange)="onCheckboxClicked($event)">
      <label class="form-check-label" for="{{ 'isSupplied-' + product.Id }}">Supply</label>
    </div>
  </div>
</form>



<div *ngIf="!product">
  No product selected
</div>
